body {
    background-color: black;
}

table {
    border-collapse: collapse;
    top: 258px;
    position: absolute;
    left: 0;
    z-index: 300;
}

td {
    width: 22px;
    height: 22px;
    /* background-color: white; */
    /* border: 1px solid black; */
    background-size: cover;
}

.animationCells {
    position: absolute;
    width: 24px;
    height: 24px;
    z-index: 100;
    /* background-color: white; */
    background-size: contain;
    /* border: 1px solid black; */
}

#hand {
    position: absolute;
    top: 96px;
    left: 721px;
    width: 48px;
    height: 96px;
    background-size: contain;
    z-index: 200;
}

#animationContainer {
    position: absolute;
    top: 0;
    left: 480px;
    width: auto;
    height: auto;
    z-index: 100;
}

#background {
    top: 0;
    left: 0;
    position: absolute;
    background-image: url("./gfx/pf.png");
    z-index: 1;
    display: inline-block;
    min-height: calc(384px * 1.5);
    min-width: calc(640px * 1.5);
    background-size: contain;
}

#playground {
    position: absolute;
    top: 144px;
    left: 408px;

}

#brown {
    position: absolute;
    top: 391px;
    left: 55px;
    width: 96px;
    height: 72px;
    background-size: contain;
    z-index: 2;
}

#blue {
    position: absolute;
    top: 466px;
    left: 154px;
    width: 96px;
    height: 72px;
    background-size: contain;
    z-index: 2;
}

#yellow {
    position: absolute;
    top: 340px;
    left: 172px;
    width: 96px;
    height: 72px;
    background-size: contain;
    z-index: 2;
}

#marioMad {
    position: absolute;
    width: 168px;
    height: 167px;
    z-index: 220;
    top: 70px;
    left: 720px;
}

#losingGame {
    position: absolute;
    top: 190px;
    left: 338px;
    width: 334px;
    height: 119px;
    z-index: 2000;
}